<header class=" bg-dark rounded-bottom mb-auto">
  <section class="py test-center container bg-dark">
    <div class="row py-lg-5">
      <div class="col"><img class="img-fluid" src="assets/image/raviolis.png" alt=""></div>
      <div class="col-lg-6 col-md-8 mx-auto mb-auto">
        <div class="row">
          <h1 class="fw-light text-info text-center">Jack's Dog</h1>
          <div class="bg-dark p-4 nav justify-content-end">
            <h5 class="text-info h4">Menu</h5>
            <a type="button" class="nav-link text-info"routerLink="/accueil">Accueil</a>
            <a type="button" class="nav-link text-info"routerLink="/service">Service</a>
            <a type="button" class="nav-link text-info"routerLink="/contact">Contact</a>
            <img class=" " src="assets/image/patte_de_chientrue .ico" >
          </div>
        </div>
      </div>
    </div>


  </section>
</header>


