<header class=" container bg-secondary rounded-bottom">
  <nav class="navbar flex-column">
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a type="button" class="nav-link active" routerLink="/">Accueil</a>
        </li>
        <li class="nav-item">
            <a type="button" class="nav-link" routerLink="/service">Service</a>
        </li>
        <li class="nav-item">
            <a type="button" class="nav-link "routerLink="/contact">Contact</a>
        </li>
    </ul>
  </nav>
</header>
