<main class="container">
  <div class="row">
    <h2>Service</h2>
  </div>
  <div class="row p-10">
    <div class="col p-2"><img class="img-fluid" src="assets/image/raviolis.png" alt=""> </div>
    <div class="col p-2">
      <h3>A Propos</h3>
      <p>Lorem ipsum dolor sit amet. Est perspiciatis laboriosam sit eaque soluta et dolorem consectetur et dolore dolore sit tempore iusto sit suscipit omnis. Ut accusantium dicta et magnam fugiat eum magnam culpa eum omnis voluptate? Ut debitis consequatur ad repudiandae tempora et repudiandae amet sed incidunt distinctio et expedita asperiores At quia assumenda quo fuga dolores. Hic voluptatem voluptate et fugiat facere et sint assumenda qui voluptatem debitis vel sint beatae.</p>
    </div>
  </div>
  <app-articles-list></app-articles-list>
</main>

