<div class="container">
  <div class="row">
    <h2>Acceuil</h2>
  </div>
  <div class="row">
    <div class="col"><img class="img-fluid" src="/src/assets/image/raviolis.png" alt=""> </div>
    <div class="col">
      <h3>A Propos</h3>
      <p>Lorem ipsum dolor sit amet. Est perspiciatis laboriosam sit eaque soluta et dolorem consectetur et dolore dolore sit tempore iusto sit suscipit omnis. Ut accusantium dicta et magnam fugiat eum magnam culpa eum omnis voluptate? Ut debitis consequatur ad repudiandae tempora et repudiandae amet sed incidunt distinctio et expedita asperiores At quia assumenda quo fuga dolores. Hic voluptatem voluptate et fugiat facere et sint assumenda qui voluptatem debitis vel sint beatae.

        Hic odio error 33 omnis exercitationem est commodi magni qui molestiae cupiditate aut alias omnis et ipsam iusto. Ut delectus doloremque est culpa temporibus ab animi debitis qui velit amet. Quo doloribus perspiciatis et velit libero et totam iure ea quia nisi non tempora exercitationem et earum sequi ut iure natus? Ut doloremque neque non maiores nemo ut alias natus ea nemo accusantium.

        Non repudiandae reprehenderit in quia voluptas et adipisci voluptatem. Nam iste voluptates est voluptatibus natus qui dolorum maiores. Ut adipisci facilis sed molestias laudantium aut reiciendis eveniet et pariatur dolorem.</p>
    </div>
  </div>
</div>
