<div class="container">
  <div class="row">
    <h2 class="justify-content-center text-center">Accueil</h2>

  </div>
  <div class="row p-10">

   <div class="col mt-5">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src={{AccueilInfo.carouselF}} class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src={{AccueilInfo.CarouselS}} class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src={{AccueilInfo.CarouselQ}}  class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

    <div class="col p-2">
      <h3>{{AccueilInfo.presentation}}</h3>

      <p>{{AccueilInfo.presentationContent}}</p>
    </div>
  </div>

  <div class="row">
    <h2>Details</h2>
  </div>
  <div class="row p-10">
    <div class="col mt-5 p-2"><img class="img-fluid" src={{AccueilInfo.detailimage}} alt=""> </div>
    <div class="col p-2">
      <h3>{{AccueilInfo.detail}}</h3>
      <p>{{AccueilInfo.detailContent}}</p>
    </div>
  </div>
</div>
