<div class="container col-16 mt-4 ">
  <div class="row ">
    <div class="card col ms-2 me-2 shadow " style="width: 18rem;">
      <img src="https://assets.stickpng.com/images/588a666dd06f6719692a2d18.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Adresse</h5>
        <p class="card-text">Avenue Gilbert Mullie 37 1200 Woluwe Saint Lambert Bruxelles</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card col ms-2 me-2 shadow " style="width: 18rem;">
      <img src="https://cdn-icons-png.flaticon.com/512/3621/3621464.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Instagram</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card col ms-2 me-2 shadow " style="width: 18rem;">
      <img src="https://seeklogo.com/images/F/facebook-logo-264A8EFBA1-seeklogo.com.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Facebook</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
